/* Entire div containing commit info */

:root {
    /* must be >= width of button */
    --version-commit-center-width : 217px ;
}

.version-commit-div-x {
    width       : 100% ;
}

.version-commit-div-l {
    font-size   : 70% ;
    float       : left ;
    width       : calc( ( 100% - var(--version-commit-center-width) ) / 2 ) ;
}

.version-commit-div-c {
    font-size   : 70% ;
    width       : var(--version-commit-center-width) ;
    margin      : 0 auto ;
    text-align  : center ;
}

.version-commit-div-r {
    font-size   : 70% ;
    float       : right ;
    width       : calc( ( 100% - var(--version-commit-center-width) ) / 2 ) ;
    text-align  : right ;
}

.version-commit-div-toc {
    font-size   : 70% ;
}

/* In case individual elements need to be customized */

.version-commit-hash {
}

.version-commit-time {
}

.version-commit-now {
}

.version-commit-ver {
}
