/* Entire div containing commit info */

.version-commit-div {
    font-size   : 70% ;
}

/* In case individual elements need to be customized */

.version-commit-hash {
}

.xversion-commit-time {
}

.xversion-commit-now {
}

.xversion-commit-ver {
}
